.item{
   background-color: rgb(255, 255, 255);
height: 500px;
width: 400px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
   border-radius: 10px; 
   gap: 1rem;
   border: 2px solid black;
}

.title
{
   font-size: 1rem;
padding: 1rem;
   color: rgb(0, 0, 0);
}   

.img1 {
 width: 30%;

}

.text {
   font-size: 12px;
   margin-left: 5px;
   color: rgb(241, 202, 202);
}


.verde{
   display: none;
}

.desc{
   color: rgb(0, 0, 0);
   padding: 1rem;
}

.price{
   font-size: 1.5rem;
   color: rgb(179, 165, 165);
   font-weight: 600;
}

.section {
   display: grid;
   grid-template-columns: repeat(2, 1fr); 
   gap: 20px;                             
   padding: 20px;
   justify-items: center;  
   padding-bottom: 125px;                
 }
 

 
@media (max-width: 768px) {
   .item {
       max-width: 16rem;   
       min-height: 60rem;  
       padding: 10px;
   }

   .item h3 {
       font-size: 1rem;
   }

   .item p {
       font-size: 0.8rem;
   }

   .item .price {
       font-size: 1rem;
       width: 80px;
       height: 22px;
   }
}