body {
   background-color: white;
    }
  
  
   
    
    .nav {
      display: flex;
      gap: 10px;
      justify-items: center;
    }
  
    .nav-item {
      width: 60px;
      height: 60px;
      font-size: 26px;
    }
   
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background: white;
    padding: 10px;
    border: 2px solid #2196f3;
    border-radius: 10px;
  }
  
  .nav-item {
    width: 80px;
    height: 80px;
    border: 2px solid #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    
    
  }
  
  .nav-item:hover {
    background: #e3f2fd;
  }
  